/*HTML,body{
    font-familly:'Arial', sans-serif;
    border: 3px solid red;
}
.Sporty{
    color: red;
   
}
.Casual{
    color: blue;
    
}
.Formal{
    color: brown;
    
}
a{
    color: blue;
    text-decoration: none;
}
#container{
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
}
/*.Sporty, .Casual
 {
    font-size: 35px;
}

#container p{
    background-color: lightgray;
} */

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;

}
h2{
    /* font-size: 30px; */
    /* font-size: 2em; */
        font-size:x-large;  /* 24px */
        /* 500 */
        font-weight: 600;
        font-style:normal;
        font-variant: normal;
        
        /* font:italic small-caps 700 26px arial; */

        text-decoration: underline;
        /* text-transform: uppercase;
         */
         /* text-transform: lowercase; */
         text-transform: capitalize;
         text-indent: 20px;
         letter-spacing: 2px;
         word-spacing: 5px;
         text-align: center;
}
a{
    text-decoration: none;
}
