  *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
    height: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
        
    }
    .main{
        width:500px ;
        height: 300px;
        background-color: #006747;
         display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle{
        width: 200px;
        height: 200px;
        background-color: #da291c;
        border-radius: 50%;
        margin-right: 50px;
    }