body{
 font-family: Arial, sans-serif;
}
.flex-container{
    background: light;
    width: 100%;
    display: flex;

}
.flex-item{
    background: coral;
    border: 1px solid black;
    padding: 20px;
    flex: 1;
}
.item-1{
    order: 3;
}
.item-2{
    order: 4;
}
.item-3{
    order: 1;
}
.item-4{
    order: 2;
}
.item-5{
    order: 6;
}
.item-6{
    order: 5;
}