*{
  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    font-family: 'poppins',sans-serif;


}
.box{
    background-color: red;
    max-width: 400px;
     margin: 20px;
    padding: 20px; 
}
